.App {
    padding-top: 0;
}
.navLinks {
    color: white;
}
.link__item {
    color: white;
    text-decoration: none;
}
.home__featured {
    width: 60%;
    margin-top: 4em;
}
.home__featured-title, .home__featured-subtitle, .home__featured-description {
    color: #fff;
}
.home__featured-title {
    font-size: 60px;
    margin-bottom:0;
}
.home__featured-subtitle {
    font-size: 1.2em;
}
.home__featured-description {
    font-size: 1.2em;
}
.home_image-small {
    height: 100%;
    width: 100%;
}
.home_image-small__title {
    position: absolute;
    margin: 0;
    padding-bottom: 1em;
    text-align: left;
    font-size: 1.5em;
    color: white;
}